
<script type="text/javascript" >

</script>

    <div id="slider" class="slider fade-in" >
        <ul>
         <li *ngFor="let movie of movies;" > 
             <a routerLink="/movie-details/{{movie.name}}" >
                <img *ngIf="movie.banner" src="{{movie.banner}}"/>
                <img *ngIf="!movie.banner" src="{{movie.poster}}"/>
                <div class="caption"> 
                    <h2> {{movie.name}} </h2>
                    <div id="rating" >
                        <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.5 > 0 } "></span>
                        <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.5 > 1 } "></span>
                        <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.5 > 2 } "></span>
                        <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.5 > 3 } "></span>
                        <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.5 > 4 } "></span>
                      </div>
                </div>
            </a>
          </li>
        </ul>
    </div>
