<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button id="ham" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vflixNav">
          <i class="fas fa-bars"></i>
        </button>
        <a routerLink="/" class="navbar-brand"> VintageFlix </a>
      </div>

      <div class="collapse navbar-collapse navbar-margin" id="vflixNav">
        <ul class="nav navbar-nav navbar-right">
          <li> <a routerLink="/" > <i class="fas fa-home"></i> <span id="nav-home"> {{home}}</span> </a></li>
        </ul>
      </div>

    </div>
  </nav>
