
<header> <app-navbar></app-navbar> </header>
 

 <section id="admin" >

    <br>

    <!-- LOGIN -->

    <div *ngIf="errorMessage" class="alert alert-danger text-center">{{errorMessage}}</div>
    <div *ngIf="infoMessage" class="alert alert-info text-center">{{infoMessage}}</div>

    <div *ngIf="!loggiedIn" class="text-center card-panel centered-panel" >
      <h4 class="text-center">LOGIN</h4> <hr>
      
      <div class="row text-center" >
        <div class="col-sm-12 text-center">  
          <input type="text" [(ngModel)]="user" class="form-control input" placeholder="User" >
        </div>
      </div>

      <div class="row text-center" >
        <div class="col-sm-12 text-center">
          <input type="password" [(ngModel)]="password" class="form-control input" placeholder="Password" >
        </div>
      </div>
            <button (click)="onLogin()" class="btn btn-lg btn-block input" type="button">Login</button>
      <br>

    </div>

    <!-- ADMIN -->

    <div *ngIf="loggiedIn" class="text-center card-panel centered-panel" >
      <h4 class="text-center">Add Movie</h4> <hr>

      <div class="row text-center" >
        <div class="col-sm-12 text-center">  
          <input type="text" [(ngModel)]="title" class="form-control input" placeholder="Title" >
        </div>
      </div>

      <div class="row text-center" >
      <div class="col-sm-12 text-center">
        <select name="categories" id="category" (change)='onCategorySelected($event)'>
          <option *ngFor="let cat of categories;" value="{{cat.id}}">{{cat.name}}</option>
        </select>
      </div>
    </div>
    
      <div class="row text-center">
        <div class="col-sm-12 text-center">
            <textarea style="min-height: 20rem !important;" 
            type="text" [(ngModel)]="plot" class="form-control input" 
            placeholder="Plot">
            </textarea>
        </div>


        <div class="row text-center" >
            <div class="col-sm-12 text-center">
                <input type="text" [(ngModel)]="poster" class="form-control input" placeholder="Poster" >
            </div>
            
          </div>
      
          <div class="row text-center" >
            <div class="col-sm-6 text-center">
              <input type="text" [(ngModel)]="time" class="form-control input" placeholder="Time" >
            </div>
            <div class="col-sm-6 text-center">
                <input type="number" [(ngModel)]="ranking" class="form-control input" placeholder="Ranking" >
            </div>
          </div>
          
          <div class="row text-center" >
            <div class="col-sm-12 text-center">
                <input type="text" [(ngModel)]="video" class="form-control input" placeholder="Video Url" >
            </div>
          </div>
        
      </div>
      <button (click)="OnAddMovie()" class="btn btn-lg btn-block input" type="button">Create</button>
      <br>

      <br>
    
    </div>
    
</section>

<app-footer></app-footer>