
.input {
    margin-bottom: 2rem !important;
}

.centered-panel {
    padding: 2% 4% 2% 4% !important;
    margin-left: 20% !important;
    width: 60% !important;
    margin-top: 3% !important;
    border-radius: 50px !important;
    background: linear-gradient(145deg, #161515, #1a1919) !important;
    box-shadow:  20px 20px 60px #141414, -20px -20px 60px #1c1a1a !important;
  }