@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --background-color: #181717;
    --font-color: #f2f2f2;
    --font-color-logo: #adecb0;
    --font-dim: #b3b0b0;
    --nav-font-color: #f2f2f2;
    --nav-selected-font-color: #adecb0;
    --a-selected-bk-color: #6855741f;
    --shadow: #0c0b0b;
    --glow: #246924e7;
    --footer-background:#2c6896ea;
    --overlay: #252521cb;
  }
  
  html {
    height: 100% !important; width: 100% !important;
    margin: 0 !important; padding: 0 !important;
  }

  body {
    margin: 0 !important; padding: 0 !important;
    height: 100% !important; width: 100% !important;
    font-family: 'Quicksand', sans-serif !important;
    color: var(--font-color) !important;
    background: var(--background-color) fixed !important;
    padding-top: 8vmin !important;
  }

hr { border-top: 0.5px solid var(--font-color) !important; }

.dark-hr { border-top: 1px solid var(--font-color); }

a, a:hover{ color: var(--font-color); text-decoration: none; }


.star-selected{ color: var(--nav-selected-font-color); }

/***** INPUTS *****/

button { 
  color: var(--background-color) !important;
  border: 1px solid var(--background-color) !important;
  padding: 0.6rem !important; margin: 0.1rem !important;
  transition: 0.5 ease !important;
  font-size: 1.2rem !important;
  border-radius: 10px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  background: #f2f2f2c7 !important;
  padding: 2vmin !important;
  padding-right: 5vmin !important;
  padding-left: 5vmin !important;
  box-shadow: 0 4px 8px 0 var(--shadow), 0 2px 10px 0 var(--shadow) !important;
}

button:hover, button:active, button:focus {
  transform: scale(1.2) !important;
}

input[type=text], input[type=password], input[type=email], textarea {
  text-align: center !important;
  font-size: 14px !important;
  color: var(--font-color-logo) !important;
  border: 1px var(--font-color-logo) solid !important;
  background-color: transparent !important;
  border-radius: 2px;
  padding: 0.8vmin;
}

input[type=text]:focus, input[type=text]:active, 
input[type=password]:focus,input[type=password]:active, 
input[type=email]:focus, input[type=email]:active, 
textarea:active, textarea:focus {
  border: 1px var(#818863) solid !important;
}

select {
  padding: 0.8vmin;
  text-align: center !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  width: 100% !important;
  background-color: var(--background-color) !important;
  margin-top: 5px !important;
  color:var(--font-color-logo);
}

select option { 
  background-color: var(--background-color) !important; 
}

select option:hover,select option:active,select option:focus, 
select:active, select:hover,select:focus, option:checked { 
  background-color: var(--background-color) !important;
  outline: none !important;
}

/** ANIMATIONS **/
.zoom-in { animation: zoom 1s ease !important; overflow: hidden !important; }
.fade-in { animation: fadein 2s ease !important; overflow: hidden !important; }

@keyframes fadein {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@keyframes zoom {
  0%{ transform: scale(0) }
  100%{ transform: scale(1) }
}

@keyframes float-down {
  0%{ transform: translateY(0%); }
  50%{ transform: translateY(10%); }
  100%{ transform: translateY(0%); }
}

.clearfix{ float: none !important; clear: both !important; }

.hideOnMobile{ display: visible !important; }
.showOnMobile{ display: none !important; }

@media screen and (max-width: 800px) {
  .hideOnMobile{ display: none !important; }
  .showOnMobile{ display: visible !important; }
}