
.movie{
    padding-right: 0 !important;
    padding: 1.2% !important;
    margin: 0 !important;
    margin: auto !important;
    width:90% !important;
    height:100% !important;
    border-radius: 30px !important;
}
.movie img {
    width:100% !important; height:100% !important;
    margin: 0 !important; padding: 0 !important;
    border-radius: 10px !important;
    padding: 20vmin;
  }
  .movie-overlay {
    z-index: 2;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px var(--shadow), 2px 2px 2px var(--shadow) !important;
    background: #263127ac !important;
    background: rgb(38,49,39) !important;
    background: linear-gradient(180deg, #1d1d22e0,#403e47c0,#c6c5d42f) !important;
    width: 100% !important;
    transform: translateY(-100%) !important;
    min-height: 100% !important;
    color:floralwhite !important;
    transition: 1s ease !important;
  }

  .movie-info {
    font-size: 3.2rem !important;
    margin-left: 5% !important;
    padding-top: 6% !important;
    width: 90% !important;
    padding-bottom: 1% !important;
    letter-spacing: 0.2rem !important;
  }

  p{ text-transform: uppercase !important; }

  .movie-info strong {
    font-size: 2rem;
    padding-top: 0 !important;
    margin-left: 10% !important;
    color: #d4423d !important;
  }

  .play-button{
    font-size: 2rem !important;
    z-index: 2 !important;
    margin-top: 3vmax !important;
  }

  span{ margin-left: 2vmin !important; }

  @media screen and (max-width: 768px) {
    .movie{ margin: 0 !important; margin-top:5rem !important; margin-left: 2.5% !important; width:95% !important; } 
  }