<header> <app-navbar></app-navbar> </header>

<app-loader></app-loader>
<app-message></app-message>  
<div *ngIf="movie" class="movie fade-in text-center">

    <img src="{{movie.banner}}" />

    <div class="movie-overlay">
        <div class="movie-info">
            <p>{{movie.name}}</p>
            <p><strong>{{movie.lenght}}</strong></p>
            <h4>{{movie.plot}}</h4>
        </div>
        <button (click)="OnMovieselected()" class="play-button"> 
            <i class="fas fa-play-circle"></i> <span>Ver</span> 
        </button>
    </div>
</div>

<app-footer></app-footer>