<header> <app-navbar></app-navbar> </header>
 
 <section id="movies">

  <app-loader></app-loader>
  <app-slider> </app-slider>
      
    <div *ngIf="!loading" class="movies-section">
      <div class="row" style="margin-left: 5% !important;">
        <div class="col-sm-1">
          <h4 id="movies-lbl">{{lblMovies}}</h4>
        </div>
        <div class="col-sm-4">
          <select name="categories" id="category" (change)='onCategorySelected($event)'>
            <option *ngFor="let cat of categories;" value="{{cat.id}}">{{cat.name}}</option>
          </select>
        </div>
        <div class="col-sm-4">
        <div class="search">
          <span> <input type="text" placeholder="{{lblSearch}}" > 
            <button><i class="fas fa-search-plus"></i></button>
          </span>
        </div>
      </div>
      </div>
      <app-message></app-message>
  
      <div class="movies-container">
        <div *ngFor="let movie of movies;" class="movie zoom-in">
          <a (click)="OnMovieselected(movie.id)" >
            <img src="{{movie.poster}}"/>
            <div class="movieDetails">
              <div id="rating" > 
                <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.4 > 0 } "></span>
                <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.4 > 1 } "></span>
                <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.4 > 2 } "></span>
                <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.4 > 3 } "></span>
                <span class="fa fa-star" [ngClass]="{'checked' : movie.ranking*0.4 > 4 } "></span>
              </div>
              <p>{{movie.name}}</p>
              <h5>{{movie.lenght}}</h5>
            </div>
          </a>
          
        </div>
 
      </div>

    </div>

    <span class="clearfix"></span>

  </section>

  <app-footer></app-footer>