
<script>
    $(document).ready(function(){ 
        alert("asasdasd");
    });    
</script>

<div *ngIf="curMovie" id="slider" class="slider" >
        <a (click)="OnMovieselected(curMovie.id)" >
            <img *ngIf="curMovie.banner" src="{{curMovie.banner}}" />
            <img *ngIf="!curMovie.banner" src="{{curMovie.poster}}" />
            <div class="caption"> 
                <h2> {{curMovie.name}} </h2>
                <div id="rating" >
                    <span class="fa fa-star" [ngClass]="{'checked' : curMovie.ranking*0.5 > 0 } "></span>
                    <span class="fa fa-star" [ngClass]="{'checked' : curMovie.ranking*0.5 > 1 } "></span>
                    <span class="fa fa-star" [ngClass]="{'checked' : curMovie.ranking*0.5 > 2 } "></span>
                    <span class="fa fa-star" [ngClass]="{'checked' : curMovie.ranking*0.5 > 3 } "></span>
                    <span class="fa fa-star" [ngClass]="{'checked' : curMovie.ranking*0.5 > 4 } "></span>
                  </div>
            </div>
        </a>
</div>
